{
  "plugins": [
    [
      "@babel/plugin-proposal-pipeline-operator",
      {
        "proposal": "minimal"
      }
    ],
    "@babel/plugin-transform-react-display-name",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-partial-application"
  ]
}
